<p>
  {{ username }} さんのチケット
</p>

<table border="1">
  <tr bgcolor="#62B2FB"><td>アーティスト</td><td>ツアー</td><td>公演</td><td>TODO</td><td></td></tr>
  {% for t in tickets %}
  <tr>
    <td>{{ t.live.tour.artist_name }}</td>
    <td>{{ t.live.tour.tour_name }}</td>
    <td>{{ t.live.live_name }}</td>
    <td>
      {% if t.used_by_self == True and t.owned_by_self == True %}なし（自分用）{% endif %}
      {% if t.used_by_self == True and t.owned_by_self == False %}
        {{t.owner}}からもらう（{% if t.state == 0 %}未完{% endif %}{% if t.state == 1 %}支払いのみ済{% endif %}{% if t.state == 2 %}受け渡しのみ済{% endif %}{% if t.state == 3 %}全て完了{% endif %}）
      {% endif %}
      {% if t.used_by_self == False and t.owned_by_self == True %}
        {{t.user}}にあげる（{% if t.state == 0 %}未完{% endif %}{% if t.state == 1 %}支払いのみ済{% endif %}{% if t.state == 2 %}受け渡しのみ済{% endif %}{% if t.state == 3 %}全て完了{% endif %}）
      {% endif %}
    </td>
    <td>
      <form action="edit_user/" method="POST" name="edit_status_{{t.id}}">
	{% csrf_token %}
	<input type="hidden" name="ticket_id" value="{{ t.id }}">
      </form>
      <a href="#" onClick="document.edit_status_{{t.id}}.submit()">状態を変更</a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  <form action="add_ticket/" method="post">
    {% csrf_token %}
    <input type="submit" value="チケットを追加" />
  </form>
</p>
