<p>
  {{ username }} さんの保有チケット
</p>
<table border="1">
  <tr bgcolor="#62B2FB"><td>アーティスト</td><td>ツアー</td><td>公演</td><td>使用者</td><td>状態</td></tr>
  {% for t in tickets %}
  <tr>
    <td>{{ t.live.tour.artist_name }}</td>
    <td>{{ t.live.tour.tour_name }}</td>
    <td>{{ t.live.live_name }}</td>
    {% if t.used_by_self == True %}
    <td>自分</td>
    {% else %}
    <td>{{ t.user }}</td>
    {% endif %}
    <td>{{ t.state }}</td>
  </tr>
  {% endfor %}
</table>

<p>
  <form action="add_ticket/">
    <input type="submit" value="チケットを追加" />
  </form>
</p>
